.clothes-cards {
  .discount {
    max-width: 53px;
    padding: 9px 8px;
    position: absolute;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    background: rgb(219, 45, 45);
    color: #ffffff;
  }
  .item {
    display: flex;
    flex-direction: column;
    max-width: 255px;
  }

  .item-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 16px;
    line-height: 16px;

    .item-text-title {
      opacity: 0.6;
    }
    .item-text-inform {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .item-text-price {
        font-weight: bold;
      }
    }
  }
}
