.footerContact {
  background-color: #121212;
  padding: 12px 0;
}
.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.email {
  display: flex;
  gap: 12px;
}
.input {
  background: #ffffff;
  border: none;
  opacity: 0.2;
  padding: 7px 16px;
  width: 400px;
}
.button {
  border: 1px solid #ffffff;
  background-color: #121212;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.9;
  padding: 7px 24px;
}
