.filter {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  background: #f8f8f8;
  padding: 24px 42px;
  font-size: 13px;
  line-height: 34px;
  .color,
  .brand,
  .size,
  .price {
    width: 100%;
  }
  .title {
    font-weight: 600;
    letter-spacing: 0.06em;
    padding-bottom: 12px;
  }
}

@media all and (max-width: 800px) {
  .filter {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, auto);
    justify-content: space-around;
  }
}

@media all and (max-width: 500px) {
  .filter {
    grid-template: repeat(4, 1fr) / 1fr;
  }
}
