.filter-activate {
  cursor: pointer;
  display: flex;
  gap: 12px;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
  .close {
    padding: 7px;
  }
}
