.related-products {
  padding: 48px 0;

  .related-products-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 41px;

    .title {
      // padding-top: 8px;
      font-weight: 600;
      font-size: 22px;
      line-height: 25px;
      letter-spacing: 0.06em;
    }

    .navigation {
      display: flex;
      gap: 16px;
    }
  }

  .related-produts-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    // gap: 30px;

    .item {
      display: flex;
      flex-direction: column;
    }

    .item-text {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding-top: 16px;
      line-height: 16px;

      .item-text-title {
        opacity: 0.6;
      }
      .item-text-inform {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .item-text-price {
          font-weight: bold;
        }
      }
    }
  }
}
